langchain
#APIs for open ai
langchain-openai
#for connecting to LLMs locally
langchain-ollama
langchain-community
#lib to build and share data apps
streamlit
numpy
langchain-chroma
faiss-cpu
pypdf
wikipedia
ddgs
duckduckgo_search
langchain-mcp-adapters
langgraph
